@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes colorChange {
    0%, 100% {
        background-color: #b9fe9e;
    }
    50% {
        background-color: #5aaf39;
    }
}

@keyframes progressBarAnimation {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
}

html{
    overflow-y: hidden;
}

.spinner {
    position: relative;
    width: 100px;
    height: 100px;
}
  
.dot {
    width: 10px;
    height: 10px;
    background-color: #1ABB6E;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress{
    height: 10px;
    background-color: #1ABB6E;
    width: 100%;
    border-bottom-left-radius: 20px;
    animation: progressBarAnimation 10.2s linear;
}

