@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes colorChange {
    0%, 100% {
        background-color: #91b6f3;
    }
    50% {
        background-color: #2575f8;
    }
}

@keyframes progressBarAnimation {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
}

@keyframes fillProgress {
    0% {
      width: 0;
    }
    25% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
}


.spinner {
    position: relative;
    width: 100px;
    height: 100px;
}
  
.dot {
    width: 10px;
    height: 10px;
    background-color: #3b82f6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress{
    height: 10px;
    background-color: #3b82f6;
    width: 100%;
    border-bottom-left-radius: 20px;
    animation: progressBarAnimation 10.2s linear;
}


